---

const {datosLanding} = Astro.props
// console.log(datosLanding)
---

<div class="contenedor-cta w-[100%] h-auto py-8">
     <div class="contenido-cta w-[90%] mx-auto flex flex-col justify-center items-center md:flex-row md:justify-between md:items-center max-w-[1140px]">
         <div class="imagen-cta w-[100%] h-auto md:w-[50%]">
           <img src={datosLanding.cta_grupo.imagen_cta.url} alt=""> 
         </div>
         <div class="txt-cta w-[100%] h-auto md:w-[50%] flex flex-col justify-center items-center">
            <h3 class="text-center text-[30px] text-[#333333]">{datosLanding.cta_grupo.titulo_cta_bloque}</h3>
            <p class="text-center text-[22px] text-[#999999]">{datosLanding.cta_grupo.texto_cta_bloque}</p> 
            <a href={datosLanding.cta_grupo.url_cta} class="uppercase relative top-5 bg-[#7A97F5] text-white py-2 px-5 ">{datosLanding.cta_grupo.boton_cta_texto}</a>
         </div> 
     </div>
</div>   

<style>
  
</style>